.root {
	-fx-background-image: url('../img/back.png');
	-fx-background-size: cover;
}

.flowPane {
	-fx-background-color: #f2f9f9;
}

#idMenuBar{
     /*-fx-background-color: #99d1d1; */
    -fx-background-color: rgba(242, 253, 254, 0.6);
}

#exitButton{
	-fx-font-size: 10pt;
}

#searchName {
	-fx-text-fill: #05445E;
	-fx-font-size: 10.5pt;
}

#search {
	-fx-font-size: 10pt;
}

#employeeName {
	-fx-font-size: 14pt;
	-fx-text-fill: #05445E;
}

#title {
	-fx-font-size: 16pt;
	-fx-text-fill: #05445E;
}

#table {
	-fx-text-fill: #05445E;
}

.button {
	-fx-font-size: 12pt;
	-fx-text-fill: #FFFFFF;
	-fx-background-color: rgba(77,135,180,0.9);
}

.button:hover { 
	-fx-font-size: 12pt;
	-fx-background-color: rgba(14,50,90,0.9);
}
