.root {
	-fx-background-image: url('../img/back.png');
	-fx-background-size: cover;
}

.flowPane {
	-fx-background-color: #f2f9f9;
}

#idMenuBar{
     /*-fx-background-color: #99d1d1; */
    -fx-background-color: rgba(153,209,209,0.7);  
}

.button {
	-fx-font-size: 12pt;
	-fx-text-fill: #FFFFFF;
	-fx-background-color: rgba(77,135,180,0.8);
}

.button:hover { 
	-fx-font-size: 12pt;
	-fx-background-color: rgba(14,50,90,0.8);
}